<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - Naturantioquia</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/login.js" defer></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* Estilos adicionales según sea necesario */
    </style>
</head>
<body id="body_login">
    <header>
        <%- include('partials/navigation') %>
    </header>

    <main class="main_login">
        <div class="form-container">
            <h1 id="title_login">Iniciar sesión</h1>
            <img src="https://i.imgur.com/35WVtfw.png" alt="Logo de la empresa" id="img-logo-login">
            <p>Ingresa a tu cuenta</p>
            <form id="login-form">
                <input type="text" autocomplete="email" class="email" id="email" required name="username"
                    placeholder="Correo electrónico">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <button id="button_login">Iniciar sesión</button>
                <p id="recuperar_contrasena">¿Olvidaste tu contraseña? - </p>
                <p id="parr_login">¿Todavía no tienes una cuenta?</p>
                <a href="/registroUsuario" id="Boton_registro">Regístrate</a>
                <p class="error escondido">Error al Iniciar sesión</p>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>